* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /*Vai ocupar 100% da altura da tela (vh: view height)*/
    box-sizing: border-box; /*os elementos filhos da tag body vão ficar contidos dentro da largura máxima dele*/
    background-color: #000000;
    color: #F6F6F6
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10%;
    display: flex; /*colocar essa propriedade display no elemento pai, que é o container no qual os elementos filhos serão posicionados*/
    align-items: center; /*todos os elementos dentro de apresentacao serão alinhados no centro (centralizado na metade da altura do maior elemento)*/
    justify-content: space-between;
}