@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /*Vai ocupar 100% da altura da tela (vh: view height)*/
    box-sizing: border-box; /*os elementos filhos da tag body vão ficar contidos dentro da largura máxima dele*/
    background-color: #000000;
    color: #F6F6F6
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 15%;
    display: flex; /*colocar essa propriedade display no elemento pai, que é o container no qual os elementos filhos serão posicionados*/
    align-items: center; /*todos os elementos dentro de apresentacao serão alinhados no centro (centralizado na metade da altura do maior elemento)*/
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column; /*dispõe os elementos dentro do container apresentacao__conteudo em uma coluna*/
    gap: 40px; /*espaço entre os elementos dentro do container apresentacao__conteudo*/
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links_link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0; /*primeiro valor é do eixo vertical e o segundo do eixo horizontal*/
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}